<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">7d50e6e458925469ef401ad9cec529660e0e6cfce8ad3badfb1c5e588d034783</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-174-129-227-146.compute-1.amazonaws.com:5432/d44l55q96g9ime?sslfactory=org.postgresql.ssl.NonValidatingFactory&amp;ssl=true</property>
        <property name="hibernate.connection.username">vrlrqkofgvkbpw</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="connection.pool_size">1</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.jdbc.use_get_generated_keys">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- Names the annotated entity class -->
        <mapping class="Person"/>
    </session-factory>

</hibernate-configuration>
